[submodule "unity-n-data"]
	path = unity-n-data
	url = git@github.com:shadowmint/unity-n-data.git
[submodule "unity-n-camera"]
	path = unity-n-camera
	url = git@github.com:shadowmint/unity-n-camera.git
[submodule "unity-n-animation"]
	path = unity-n-animation
	url = git@github.com:shadowmint/unity-n-animation.git
[submodule "unity-n-input"]
	path = unity-n-input
	url = git@github.com:shadowmint/unity-n-input.git
[submodule "unity-n-core"]
	path = unity-n-core
	url = git@github.com:shadowmint/unity-n-core.git
[submodule "unity-n-layout"]
	path = unity-n-layout
	url = git@github.com:shadowmint/unity-n-layout.git
[submodule "unity-n-native"]
	path = unity-n-native
	url = git@github.com:shadowmint/unity-n-native.git
[submodule "unity-n-ui"]
	path = unity-n-ui
	url = git@github.com:shadowmint/unity-n-ui.git
[submodule "unity-n-bind"]
	path = unity-n-bind
	url = git@github.com:shadowmint/unity-n-bind.git
[submodule "unity-n-procedural"]
	path = unity-n-procedural
	url = git@github.com:shadowmint/unity-n-procedural.git
[submodule "unity-n-events"]
	path = unity-n-events
	url = git@github.com:shadowmint/unity-n-events.git
[submodule "unity-n-objectstream"]
	path = unity-n-objectstream
	url = git@github.com:shadowmint/unity-n-objectstream.git
[submodule "unity-n-atf"]
	path = unity-n-atf
	url = git@github.com:shadowmint/unity-n-atf.git
[submodule "unity-n-jsonbridge"]
	path = unity-n-jsonbridge
	url = git@github.com:shadowmint/unity-n-jsonbridge.git
