[submodule "unity-n-data"]
	path = unity-n-data
	url = git@github.com:shadowmint/unity-n-data.git
[submodule "unity-n-camera"]
	path = unity-n-camera
	url = git@github.com:shadowmint/unity-n-camera.git
[submodule "unity-n-animation"]
	path = unity-n-animation
	url = git@github.com:shadowmint/unity-n-animation.git
[submodule "unity-n-input"]
	path = unity-n-input
	url = git@github.com:shadowmint/unity-n-input.git
[submodule "unity-n-core"]
	path = depreciated/unity-n-core
	url = git@github.com:shadowmint/unity-n-core.git
[submodule "unity-n-layout"]
	path = unity-n-layout
	url = git@github.com:shadowmint/unity-n-layout.git
[submodule "unity-n-native"]
	path = unity-n-native
	url = git@github.com:shadowmint/unity-n-native.git
[submodule "unity-n-ui"]
	path = depreciated/unity-n-ui
	url = git@github.com:shadowmint/unity-n-ui.git
[submodule "unity-n-bind"]
	path = unity-n-bind
	url = git@github.com:shadowmint/unity-n-bind.git
[submodule "unity-n-procedural"]
	path = unity-n-procedural
	url = git@github.com:shadowmint/unity-n-procedural.git
[submodule "unity-n-events"]
	path = unity-n-events
	url = git@github.com:shadowmint/unity-n-events.git
[submodule "unity-n-objectstream"]
	path = unity-n-objectstream
	url = git@github.com:shadowmint/unity-n-objectstream.git
[submodule "unity-n-atf"]
	path = unity-n-atf
	url = git@github.com:shadowmint/unity-n-atf.git
[submodule "unity-package-template"]
	path = unity-package-template
	url = git@github.com:shadowmint/unity-package-template.git
[submodule "unity-n-jsonbridge"]
	path = unity-n-jsonbridge
	url = git@github.com:shadowmint/unity-n-jsonbridge.git
[submodule "unity-n-command"]
	path = unity-n-command
	url = git@github.com:shadowmint/unity-n-command.git
[submodule "unity-zxing"]
	path = unity-zxing
	url = git@github.com:shadowmint/unity-zxing.git
[submodule "examples/unity-example-unet-transport"]
	path = examples/unity-example-unet-transport
	url = git@github.com:shadowmint/unity-example-unet-transport.git
[submodule "unity-3rdparty-sqlite"]
	path = unity-3rdparty-sqlite
	url = git@github.com:shadowmint/unity-3rdparty-sqlite.git
[submodule "unity-3rdparty-sqlite-net"]
	path = unity-3rdparty-sqlite-net
	url = git@github.com:shadowmint/unity-3rdparty-sqlite-net.git
[submodule "unity-n-promises"]
	path = unity-n-promises
	url = git@github.com:shadowmint/unity-n-promises.git
[submodule "unity-n-database"]
	path = unity-n-database
	url = git@github.com:shadowmint/unity-n-database.git
[submodule "unity-n-uitools"]
	path = unity-n-uitools
	url = git@github.com:shadowmint/unity-n-uitools.git
[submodule "unity-n-tests"]
	path = unity-n-tests
	url = git@github.com:shadowmint/unity-n-tests.git
[submodule "unity-n-optional"]
	path = unity-n-optional
	url = git@github.com:shadowmint/unity-n-optional.git
[submodule "unity-n-systems"]
	path = unity-n-systems
	url = git@github.com:shadowmint/unity-n-systems.git
[submodule "unity-n-flow"]
	path = unity-n-flow
	url = git@github.com:shadowmint/unity-n-flow.git
[submodule "unity-n-uielements"]
	path = unity-n-uielements
	url = git@github.com:shadowmint/unity-n-uielements.git
[submodule "unity-n-relay"]
	path = unity-n-relay
	url = git@github.com:shadowmint/unity-n-relay.git
